<div class="container">

<div class="jumbotron">
<h1>MarketWatch - Webscraper</h1>
</div>



<div class= "row">
   <div id = "articles">
    <ul>
      {{#unless savarticles.saved}}
		{{#each savarticles}}
			
		<div class="row">
			<div class="article">
        <li>
				<a class="test" data-id="{{this._id}}" href={{this.link}}>{{this.title}}
				</a>
				<button type="button" class="btn btn-primary delete" data-id="{{this._id}}">Delete Article</button>
				<button type="button" data-toggle="modal" data-target="#create-user" class="btn btn-primary Note" data-id="{{this._id}}">Article Notes</button>
        </li>
		{{/each}}
    {{/unless}}
    <div class="modal fade" id="create-user" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
           <div class="modal-content">
            <div class="newnotemodal-container">
                <div class="modal-header">
              <h3 class='text-center'>Article Notes for</h3>
                </div>
                <div class="modal-body">
              <div class='text-center' id="createNote">
              <textarea cols="70" id="articleNote"></textarea>
        </div>
        <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal" onclick="emptyContent()">Close</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal" id ="submitNote">Submit</button>
              </div>
         </div>     
            </div>
        </div>
          </div>
    </div>
      </div>
    
    </div>
  </ul>
   </div>
</div>

    


</div>